body{
  font-family: "Open Sans";
  font-weight: lighter;
}

p {
  color: #b7b7b7;
}

h1{
  font-family: "Poppins";
  font-weight: 400;
}

h2{
  font-family: "Poppins";
  font-weight: 600;
}

h3 {
  font-family: "Poppins";
  font-weight: 700
}

.myButton {
background-color:#fff;
border-radius: 2px;
border:2px solid #eaeaea;
display:inline-block;
cursor:pointer;
color:#a374d5;
font-family:Trebuchet MS;
font-size:20px;
padding:11px 29px;
text-decoration:none;
position: absolute;
right: 100px
}
.myButton:hover {
background-color:#ffd3de;
}
.myButton:active {
position:relative;
top:1px;

}

.myButton2 {
  moz-box-shadow:inset 0 0 0 0 #fbafe3;
	-webkit-box-shadow:inset 0 0 0 0 #fbafe3;
	box-shadow:inset 0 0 0 0 #fbafe3;
	background-color:#ff5bb0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	padding:11px 33px;
	text-decoration:none;
	text-shadow:-1px 0 50px #c70067;
  margin-top: 10px;

}
.myButton2:hover {
	background-color:#ef027d;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.heading{
margin-top: 50px;
padding-bottom: 150px;

}
.logo{
  position: absolute;
  left: 100px;
}


.top-img{
width: 65%
}


.top-container {
  text-align: center;
 margin: auto 25% auto 25%;
 padding-bottom: 250px;
}

.mid-container {
  text-align: left;
  margin-right: 150px;
  margin-bottom: 200px;
}

.mid-img {
  float: left;
  width: 40%;
  margin-left: 100px;
  margin-right: 100px;
}

.trial-box {
  text-align: center;
  margin: auto;
  margin-bottom: 200px;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 30%;
  padding: 60px;
  box-shadow: -1px -1px 14px 6px rgba(0,0,0,0.1);
}

.bottom-container{
  background-color: #142d4c;
  color: white;
  padding: 70px;

   margin: 10px 0 0 0;

}

.bottom-container p {
  color: white;
}

.bottom-container a:hover{
  color: pink;
}

.bottom-container a{
  text-decoration: none;
  color: white;
}

.logo2{
width: 200px;
height: 30px;
display: block;
}

.main-footer{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;

}
.left-side{
  flex: 1;
}

.left-side ul{
  list-style-type: none;
}

.social {
  flex: 1;
  padding: 10px;
  width: 15%;
filter: invert(1);
}

.navs {
flex: 2;
  list-style-type: none;
  text-align: center;
}

.navs ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
}

.navs li {
  padding: 6px;
}

.subscribe {
flex: 1;
text-align: left;
}


.subscribe-button {

	-moz-box-shadow:inset 0 0 0 0 #fbafe3;
	-webkit-box-shadow:inset 0 0 0 0 #fbafe3;
	box-shadow:inset 0 0 0 0 #fbafe3;
	background-color:#ff5bb0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	padding:11px 33px;
	text-decoration:none;
	text-shadow:-1px 0 50px #c70067;
  margin-top: 10px;

}
.subscribe-button:hover {
	background-color:#ef027d;
}
.subscribe-button:active {
	position:relative;
	top:1px;
}

.email-input{
  width: 100%;
  height: 33px;
  font-size: 20px;
  border-radius: 5px;

}

.attribution{
  background-color: #142d4c;
  margin: 0;
  color: white;
  text-decoration: none;

}
